[submodule "CmsStoreReviewControl"]
	path = CmsStoreReviewControl
	url = linode:Projects/CmsStoreReviewControl
[submodule "MembershipControls"]
	path = MembershipControls
	url = linode:Projects/MembershipControls
[submodule "CmsStoreControls"]
	path = CmsStoreControls
	url = linode:Projects/CmsStoreControls
